<h1>Floats</h1>

<div>block</div>
<div>block</div>
<div>block</div>
<div>block</div>
<div>block</div>
<div>block</div>

<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid clear">cleared</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
<div class="grid">float</div>
