<% content_for :styles do %>
  <link rel="stylesheet" href="http://necolas.github.com/normalize.css/1.0.0/normalize.css">
<% end %>
<h1><a href="http://necolas.github.com/normalize.css">Normalize</a></h1>
