<% @title = "Lab 4.1: Sass frameworking with Compass" %>

<p>Open up:</p>

<ul>
  <li>`stylesheets/labs/4-1.sass`</li>
  <li>`public/stylesheets/labs/4-1.sass`</li>
</ul>

<p>Run `compass watch` instead of `serve` so that Compass "watches" your Sass and re-compiles those changes for you.</p>