<% @title = "Welcome to the 'Design Eye' Lab" %>

<p>The 'Design Eye' Lab is <a href="http://get-serve.com/">a Serve project</a> and the codebase we use work through what you are learning in the training sessions. If at anytime you have questions, please let us know!</p>

<h2>Lab Links</h2>

<ul>
  <li>
    <a href="http://colorschemedesigner.com/">Lab 1.1: Color Scheme Designer</a>
  </li>
  <li>
    <a href="/labs/1.2">Lab 1.2: Typography Lab</a>
  </li>
  <li>
    <a href="/labs/2.1">Lab 2.1: Grid Lab</a>
  </li>
  <li>
    <a href="/labs/2.2">Lab 2.2: Gratuitous CSS3 Lab</a>
  </li>
  <li>
    <a href="/labs/2.3">Lab 2.3 Modernizr Lab</a>
  </li>
  <li>
    <a href="/labs/3.2">Lab 3.2: Explore variables, nesting, mixins ...</a>
  </li>
  <li>
    <a href="/labs/4.1">Lab 4.1: Sass frameworking with Compass</a>
  </li>
</ul>
