<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/labs/grid.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header role="banner">
      <h1><a href="/">Design Eye: Lab 2.1</a></h1>
      <h2>Grid Framework: Implement a grid using the 960.gs grid generator.</h2>
    </header>
    <div class="container_2">
      <div class="grid_1">
        <h1><%= @title %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div> 
      <div class="grid_2">
        <h2>Links</h2>
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">Archives</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <footer>
      <p>"Design Eye for the Dev Guy/Gal" is Copyright &copy; 2010-2011 &ndash; <a href="http://wynnnetherland.com/">Wynn Netherland</a> and <a href="http://adamstacoviak.com/">Adam Stacoviak</a>.</p>
    </footer>
  </body>
</html>
