<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <script src="/javascripts/modernizr.js"></script>
  </head>
  <body>
    <header role="banner">
      <h1><a href="/">Design Eye: Lab 2.3</a></h1>
      <h2>Modernizr</h2>
    </header>
    <div role="main">
      <article>
        <h1><%= @title %></h1>
        <p>This page has <a href="http://modernizr.com/">Modernizr</a> support. Open up the web inspector and play with some of the following features.</p>

        <pre>Modernizr</pre>
        <pre>Modernizr.video.webm</pre>
        <pre>Modernizr.inputtypes</pre>
      </article>
    </div>
   <footer>
      <p>"Design Eye for the Dev Guy/Gal" is Copyright &copy; 2010-2011 &ndash; <a href="http://wynnnetherland.com/">Wynn Netherland</a> and <a href="http://adamstacoviak.com/">Adam Stacoviak</a>.</p>
    </footer>
  </body>
</html>
