<h1>Visibility</h1>

<div>block</div>
<div>block</div>
<div>block</div>

<div class="inline">inline</div>
<div class="inline">inline</div>
<div class="inline">inline</div>

<div class="inline-block">inline-block</div>
<div class="inline-block">inline-block</div>
<div class="inline-block">inline-block</div>
