<% @title = "Lab 3.2: Explore variables, nesting, mixins ..." %>

<p>Open up:</p>

<ul>
  <li>`stylesheets/labs/3-2.sass`</li>
  <li>`public/stylesheets/labs/3-2.sass`</li>
</ul>

<p>Run `compass watch` instead of `serve` so that Compass "watches" your Sass and re-compiles those changes for you.</p>
